# Folders
/.build/
/.idea/
/Build/node_modules/
/Build/site/development/bexio/
/config/
/Documentation-GENERATED-temp/
/Documentation/Develop/Payload/Private/
/var/

# Files
*.cache
*.zip
/composer*.lock
